@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

*{
    margin: 0px;
    /* display: block; */
    color: white;
    box-sizing: border-box;
}

.movietime {
  font-family: 'Raleway', sans-serif;
}
main{
  margin-top: 55px;
  padding: 10px;
}
.movie{
  display: flex;
  flex-wrap: wrap;
}
.poster{
  width: 50%;
  text-align: center;
  padding: 10px;
}
.poster>a{
  text-decoration: none;
}
.poster .poster-img{
  border-radius: 10px;

}
.list{
  display: flex;
  justify-content: space-around;
}

header {
    position: fixed;
    width: 100%;
    height: 52px;
    left: -1px;
    top: 0px;
    background: #181423;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
}
#map{
  width: 100%;
}

button.voltar {
    display: none;
}

/* @media (max-width: 700px) { */


    body {
        background-image: linear-gradient(#2F1551, #160032);
        background-attachment: fixed;
        padding: 50px 20px;
        

    }


    button.voltar {
       border-radius: 5px;
       margin: 6px;
       display: flex;
  }

    .movietime {
        font-family: 'Raleway', sans-serif;

    }
