@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
  color: beige;
  font-family: 'Raleway', sans-serif;
}

body {
  background-image: linear-gradient(#2F1551, #160032);
  background-attachment: fixed;
  padding-top: 50px;
}

.title-movies {
  padding-top: 1rem;
  padding-left: 1rem;
  font-size: 20px;
}

input:checked + .slide-container .nav label { 
  display: block; 
}

#map {
    width: 640px; 
    height: 480px;
 }

.movie {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.poster {
  width: 50%;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.poster>a {
  text-decoration: none;
}

.poster-img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.list {
  display: flex;
  justify-content: space-around;
}

.nav-bar {
  position: fixed;
  width: 100%;
  height: 52px;
  left: -1px;
  top: 0px;
  background: #181423;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 70%;
}

.logo-img{
  max-height: 100%;
}

#map{
  width: 100%;
}

button.voltar {
  background: rgb(199, 165, 255);
  background-image: url(./images/like.svg);
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
}

.movie-info{
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.movie-image{
  border-radius: 10px;
  margin: 0 15px 0 0;
  align-self: center;
  width: 80%;
  height: 80;

}

.movie-data>p{
  font-family: Raleway;
  font-style: normal;
  overflow: auto;
  margin-bottom: 0;
}
p#movie-title.movie-data {
    margin-bottom: 5px;
    font-size: x-large;
    font-family: Raleway;
    font-style: normal;
    font-weight: bolder;
    font-size: 19px;
    line-height: 22px;
}


.sale-card {
    margin-bottom: 8px;
    font-size: 0.8em;
    height: 118px;
    background: #2F1452;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    padding: 10px;
}

.price-btn {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
    align-items: center;
    margin-top: 20px;
}

.sale-btn {
    display:inline-block;
    background: #01C467;
    height: 36px;
    width: 118px;
    margin-bottom: 3%;
    border: none;
    box-shadow: 0px 3px 0px #00532B;
    border-radius: 2px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    line-height: 19px;
    color: #FFFFFF;
}

.sale-btn:focus {
    outline: none;
}

.cine {
    font-family: Raleway;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    color: #FFC700;
}

.section {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9rem;
    line-height: 14px;
    color: #854CD1;
    margin-bottom: 0;
}

.price {
    display: inline-block;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    margin-right: 20px;
    font-size: 1.2rem;
    line-height: 23px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 0;
}
.theater{
  margin: 10px;
}










@media only screen and (min-width: 600px) {

  main{
    margin: 0 auto;
    margin-top: 15px;
    width: 80%;
  }

  .movie-image{
    max-width: 50%;
    height: auto;
    align-self: flex-start;
    border-radius: 10px;
    margin: 0 15px 0 0;
    align-self: center;
  }

  .nav-bar {
    height: 70px;
  }
  
.title-movies {
  font-size: 2.5rem;
}

  .carousel-inner {

  }

  .d-block {
    /* height: 28rem; */
  }

  .poster{
    width: 33%;
  }
  .movietime {
    font-family: 'Raleway', sans-serif;   
  }
  
  .movie-info {
    display: flex;
    justify-content: flex-start;
    height: 37rem
    width: 50rem;
    margin-top: 50px;
  }
  .poster-img:hover{
    filter: brightness(50%);
  }
/* 
  .poster-img {
    border-radius: 10px;
    width: 25rem
  } */

  .movie-image{
    max-height: 100%;
    height: auto;
    width: 13rem;
  } 

  .movie-data{
    font-size: 1.2rem;
    padding: 10px; 
  } 

  .theater{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
  }

  .map-title {
    padding-left: 4%;
    font-size: 2rem;
  }

  .title-movies {
    padding-top: 4rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    font-size: 2rem;
  }

  .name-movie {
    font-size: 1.8rem;
  }

}
